<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle|default('Flickr in Symfony') }}</title>
    {% block styleSheets %}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
</head>
<body>
    <h1>Flickr in Symfony :-)</h1>
    {% block main_body %}Ici se trouvera le contenu HTML principal
    {% endblock %} 
    
    {% block nav %}{% endblock %}

    {% block javaScripts %}

        <script src="{{ asset('app.js') }}"></script>
    {% endblock %}
</body>
</html>